* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background: #111;
    color: white;
}
.logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
.btn {
    background: #ff9800;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}
.btn:hover {
    background: #e68900;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10%;
    background: #222;
    color: white;
}
.hero-content {
    max-width: 50%;
}
.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.hero-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}
.box h2 {
    text-align: center;
}
.box p {
    font-size: 30px;
    text-align: left;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 130px;
    width: 100%;
    max-width: 800px;
}

.card {
    background-color: #1e1e1e;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    width: 516px;
    height: 400px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.2);
}

/*.card img {
    max-width: 100%;
    width: 90%;
    border-radius: 15px;
}*/

.card h2 {
    margin-top: 10px;
    font-size: 50px;
    font-weight: bold;
    color: white;
}
@media(max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .hero-content {
        max-width: 100%;
    }
}